body {
  font-family: 'Open Sans';
  cursor: default;
  margin: 0px 50px;
}

.header_logo {
  position: absolute;
  left: 50px;
  top: 13px;
}

.title {
  position: absolute;
  padding: 8px 15px;
  color: white;
}

.twitter_button {
  top: 128px;
}

.github_button {
  top: 84px;
}

.social_button {
  color: #444444;
  background: -webkit-linear-gradient(#FFFFFF, #F0F0F0);
  padding: 8px;
  border-radius: 3px;
}

.home_button {
  left: 192px;
}

.proj_button {
  left: 300px;
}

.social_button:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .24);
  transition: box-shadow 0.25s;
}

.social_button {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .24);
  transition: box-shadow 0.25s;
  font-size: 10pt;
}

.button {
  position: absolute;
}

.menu_button:hover {
  transition: top 0.1s, box-shadow 0.1s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .12);
  top: 15px;
}

.menu_button {
  transition: top 0.1s, box-shadow 0.05s;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: rgba(0, 0, 0, .03);
  font-size: 16pt;
  top: 12px;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, .24);
  transition: box-shadow 0.1s, top 0.1s;
}

.no_select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently
                                  not supported by any browser */
}

.antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rectangle {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 76px;
  background: -webkit-linear-gradient(bottom, #999999, #CCCCCC)
}
